* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
  background-color: hsl(210deg, 60%, 98%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  color: hsl(224deg, 21%, 14%);
}

.notification-container {
  width: 630px;
  min-width: 50%;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
}
.notification-container .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.notification-container .header * {
  margin: 0;
  padding: 0;
}
.notification-container .header .status {
  margin-left: auto;
  color: hsl(219deg, 12%, 42%);
  font-weight: bold;
}
.notification-container .header .count {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 20px;
  width: 30px;
  background: hsl(219deg, 85%, 26%);
  color: white;
  font-size: 0.7rem;
}
.notification-container .header .title {
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.body .notification {
  display: inherit;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  padding: 10px 20px 10px;
  border-radius: 15px;
}
.body .notification .profile--pic img {
  height: 40px;
}
.body .notification .message--container p {
  display: inline;
  padding-top: 5px;
}
.body .notification .message--container .time {
  display: block;
}
.body .notification .message--container .name, .body .notification .message--container .action {
  font-weight: bold;
}
.body .notification .message--container i {
  transform: scale(0.5);
  color: hsl(1deg, 90%, 64%);
}
.body .notification .message--container .group-type {
  color: hsl(219deg, 85%, 26%);
  font-weight: bold;
}
.body .notification .message--container .message {
  margin-top: 10px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid hsl(205deg, 33%, 90%);
}
.body .notification .message--container .content, .body .notification .message--container .message, .body .notification .message--container .time {
  color: hsl(219deg, 12%, 42%);
}
.body .notification .message--container .action {
  color: hsl(219deg, 12%, 42%);
}
.body .notification .message--container .action:hover {
  color: hsl(219deg, 85%, 26%);
}
.body .notification .message--container .content, .body .notification .message--container .action, .body .notification .message--container .group-type {
  padding-left: 2px;
}
.body .notification .refer {
  margin-left: auto;
}
.body .notification .refer img {
  height: 40px;
}

.unread {
  background-color: hsl(211deg, 68%, 94%);
}

.empty {
  display: none;
}

.name:hover, .action:hover, .group-type:hover {
  color: hsl(219deg, 85%, 26%);
  cursor: pointer;
}

.header .status:hover {
  color: hsl(219deg, 85%, 26%);
  cursor: pointer;
}

.message:hover {
  background-color: hsl(211deg, 68%, 94%);
}

.body .refer img:hover {
  border: 2px solid hsl(211deg, 68%, 94%);
  cursor: pointer;
  border-radius: 10px;
}/*# sourceMappingURL=styles.css.map */